.inputField {
  margin-bottom: 3%;
  z-index: 0;
}
.inputLabel {
  margin-bottom: 1%;
  color: #707070;
}

.table {
  border: 1px solid black;
  padding: 5px;
  border-collapse: collapse;
}

.bgContainer {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/6532373/pexels-photo-6532373.jpeg?cs=srgb&dl=pexels-nataliya-vaitkevich-6532373.jpg&fm=jpg&w=6240&h=4160");
}

.okButton {
  margin-top: 5%;
  border-radius: 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.addButton {
  margin-top: 1%;
  width: 4%;
  padding: 1%;
  background-color: #f5c005;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 2%;
}
