.mainBox {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textField {
  margin: 10px;
  background-color: #fff;
}
