.dataText {
  background-color: #313d8b;
  margin: 2%;
  padding: 2%;
  padding-left: 4%;
  border-radius: 20px;
  color: "white";
}

.subjectText {
  border-radius: 20px;
  text-align: center;
  color: "white";
}

.subjectsDiv {
  background-color: #313d8b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2%;
  border-radius: 20px;
  padding: 2%;
  color: "white";
}

.inputLabel {
  text-align: left;
  padding-left: 2%;
}

.answerBox {
  background-color: #313d8b;
  border-radius: 20px;
  padding: 3%;
}

.questionDiv {
  margin-top: 2%;
  border-radius: 20px;
}

.tableDiv {
  margin: 2%;
}
