.inputField {
  margin-bottom: 3%;
  z-index: 0;
}
.inputLabel {
  margin-bottom: 1%;
  color: #707070;
}

.subSection {
  margin-left: 3%;
}

.okButton {
  margin-top: 5%;
  border-radius: 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.fileInfo {
  font-size: 0.8rem;
  color: red;
  margin-bottom: 1%;
}

.bgContainer {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/6532373/pexels-photo-6532373.jpeg?cs=srgb&dl=pexels-nataliya-vaitkevich-6532373.jpg&fm=jpg&w=6240&h=4160");
}

.inputButton {
  margin-top: 1%;
  margin-bottom: 2%;
}

.declarationText {
  margin-top: 10%;
}

.bgDiv {
  background-color: #ffefb6;
  border-radius: 20px;
  margin-top: 2%;
  padding: 2%;
}

.checkDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 2%;
}
.tickLabel {
  color: black;
}

.errorMessage {
  color: red;
  margin-bottom: 1%;
  margin-left: 1%;
}
