.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.gridText {
  font-weight: bolder;
}

.banner {
  height: 80vh;
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101627;
  height: 100vh;
  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;
}

.video {
  height: 100vh;
  width: 50%;
  position: relative;
}
.aboutDiv {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  background-color: white;
}
.aboutDiv2 {
  height: 160vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  background-color: white;
}
.prevWinners {
  height: 40vh;
  background-color: aqua;
}

.gridContainer {
  margin: 2%;
  margin-bottom: 0%;
  background-color: #f6f7fd;
  width: 100%;
}

.gridItem {
  background-color: #2f3138;
  color: white;
  padding: 2%;
  margin: 2%;
  margin-left: 4%;
  margin-bottom: 2%;
}

.gridHeader {
  color: #f1bf60;
}

.gridList {
  margin: 2%;
}
 .carousel_container{
    height: 720;
    width: 1080;
  }
@media (max-width: 768px) {
  .main {
    padding: 2rem;
  }
  .video {
    width: 100%;
  }
  .aboutDiv {
    height: 100%;
  }
  .aboutDiv2 {
    height: 150%;
  }
  .prevWinners {
    height: 100%;
  }
  .gridContainer {
    margin: 0%;
    margin-bottom: 0%;
    background-color: #f6f7fd;
    width: 100%;
  }
  .gridItem {
    background-color: #2f3138;
    color: white;
    padding: 2%;
    margin: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
  }
  .gridHeader {
    color: #f1bf60;
  }
  .gridList {
    margin: 2%;
  }
  .carousel_container{
    height: 300px;
    width: 100%;
  }
  .carousel_image{
    height: 360px;
    width: 100%;
  }
}
