.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.gridText {
  font-weight: bolder;
}

.banner {
  height: 80vh;
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101627;
  height: 100vh;
  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;
}

.video {
  height: 100vh;
  width: 50%;
  position: relative;
}
.aboutDiv {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
  background-color: white;
  text-justify: inter-word;
}

.iconDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.contactDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  .contactDiv {
    display: flex;
    flex-direction: column;
  }
  .iconDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  .socialMediaDiv {
    margin: 0;
  }
  .socialMediaIcon {
    max-width: 2rem;
    max-height: 2rem;
  }
}

.aboutDiv2 {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3%;
  background-color: white;
  margin-top: 20px;
  text-justify: inter-word;
}
.prevWinners {
  height: 40vh;
  background-color: aqua;
}

.gridContainer {
  margin: 2%;
  margin-bottom: 0%;
  background-color: #f6f7fd;
  width: 100%;
}

.gridItem {
  background-color: #2f3138;
  color: white;
  padding: 2%;
  margin: 2%;
  margin-left: 4%;
  margin-bottom: 2%;
}

.gridHeader {
  color: #f1bf60;
}

.gridList {
  margin: 2%;
}
.carousel_container {
  height: 720;
  width: 1080;
}
@media (max-width: 768px) {
  .main {
    padding: 2rem;
  }
  .video {
    width: 100%;
  }
  .aboutDiv {
    height: 100%;
  }
  .aboutDiv2 {
    height: 150%;
  }
  .prevWinners {
    height: 100%;
  }
  .gridContainer {
    margin: 0%;
    margin-bottom: 0%;
    background-color: #f6f7fd;
    width: 100%;
  }
  .gridItem {
    background-color: #2f3138;
    color: white;
    padding: 2%;
    margin: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
  }
  .gridHeader {
    color: #f1bf60;
  }
  .gridList {
    margin: 2%;
  }
  .carousel_container {
    height: 300px;
    width: 100%;
  }
  .carousel_image {
    height: 360px;
    width: 100%;
  }
}
